.matrix-row {
    display:flex;
    justify-content: center;
}
.matrix-row:last-child {
    margin-top:10px;
}
.matrix-ceil {
    width:45px;
    height: 55px;
    margin:1px;
    padding: 0 10px;
    border: 1px solid rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.3rem;
    color: rgb(80,80,80);
}
.matrix-ceil.part {
    color: rgb(20,20,20);
    position: relative;
    z-index: 2;
}
.matrix-ceil.part div:last-child {
    position:absolute;
    bottom: 0;
    width:100%;
    background-color:  rgba(80,80,80, 0.6);
}
/*
.matrix-ceil.part::after {
    content: '';
    position:absolute;
    bottom: 0;
    text-align: center;
    display: block;
    width:100%;
    height: attr(data-part);
    color: rgb(255,255,255);
    background-color:  rgba(80,80,80, 0.3);
    
}
*/
.bright {
    background-color: rgb(80,80,80);
    color: rgb(255,255,255)
}
.sum {
    min-width:80px;
    color:rgb(255,255,255);
    background-color: rgb(55,202,139);
}
.footer {
    background-color: rgb(255,255,255);
    color: rgb(80, 80, 80);
    border-color: rgb(80, 80, 80);
}
.sidebar-row {
    width:80px;
    background-color: rgb(55,202,139);
}
.sidebar-row button {
    width:60%;
    height: 70%;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border:none;
}
.sidebar-row button:hover {
    background-color: rgb(136, 4, 11);
}
.matrix-row:last-child .sidebar-row:after {
    content:'Середнє стовпця';
    font-size: 16px;
    width:100%;
}